<h1>Articles#show</h1>
<p>Find me in app/views/articles/show.html.erb</p>
<div class = "container">
    <h2><%=@article.title%></h2>
    <h5><%=@article.body%></h5>
    <%= link_to  "Regresar", welcome_index_path, class:"btn btn-primary" %>
</div>
